html, body {
    margin: 0;
    padding: 0;
}

a, ul, p {
    text-decoration: none;
    list-style: none;
    font-family: Roboto, sans-serif;

    margin: 0;
    padding: 0;
}

.header, .content-1 {
    background-color: #1F2937;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8em 12em;
}

.header img {
    max-width: 3em;
}

.TL {
    display: flex;
    align-items: center;
}

.TL .title {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header-link ul {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.header a {
    font-size: 18px;
    color: #E5E7EB;
}

.content-1 {
    padding: 5em 12em;
    gap: 7em;
}

.content-1-left {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.content-1-a-sub {
    color: #E5E7EB;
}

.content-1-a-hero {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.content-1-left button {
    border: none;
    cursor: pointer;
    max-width: 8em;
    padding: 0.4em;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 0.6em;
}

.content-1 img {
    max-width: 20em;
}